@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    background: linear-gradient(#333, #000);
    color: #ccc;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 2.5em;
}

.container {
    height: 100%;
}

.flex {
    display: flex;
}

.flex-dir {
    flex-direction: column;
}

.header {
    background: rgba(0,0,0,0.4);
    width: 100%;
    padding: 20px;
    align-items: center;
}

.header > .title {
    font-size: 200%;
    flex:1;
    font-weight: 100;
}

.content {
    height: 100%;
}

.content > * {
    padding: 20px;
}

.bio {
    background: rgba(0,0,0, 0.4);
}

.bio > h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-align: center;
}

.cards {
    width: 100%;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    margin: 20px 0;
    padding: 0;
    line-height: 0;
}

.card {
    background: rgb(255, 247, 223);
    padding: 30px;
    position: relative;
    margin: 20px 0;
    width: 100%;
    color: #333;
}


.chip {
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 90%;
    width: fit-content;
    border: 1px solid rgba(0,0,0,0.3);
    /* box-shadow: 3px 3px 5px rgba(0,0,0,0.2); */
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
    margin: 10px;
}

.chip::before {
    content: '⬤';
    margin-right: 5px;
}

.chip-green::before {
    color: #0a0;
}

.chip-yellow::before {
    color: #ee0;
}

.card-title {
    font-weight: bold;
    font-size: 150%;
}

#profilbilde{
    display: block;
    margin: 30px auto;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background: url(ski.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 200%;
    background-position-x: -70px;
    background-position-y: -30px;
}